<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChatting App</title>
      <!--Css-->
      <link rel="stylesheet" href="../static/styles/log-reg.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!--Bootstrap Css-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
</head>
<body>
    

    <div class="sidenav">
      <img src="../static/images/chatvec.png" style="width: 60%; " alt="">
          <div class="login-main-text" style="margin-top: -50px;">
           <h2>WebChatting Application<br><br> Login Page</h2><br>
           <p>Login or register from here to access.</p>
        </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form action="/save" method="POST">
                 <div class="form-group">
                    <label class="font">User Name</label>
                    <input type="text" name="name" class="form-control" placeholder="User Name" required>
                 </div>
                 <div class="form-group">
                    <label class="font">Email Id</label>
                    <input type="email" name="email" class="form-control" placeholder="Email Id" required>
                 </div>
                 <div class="form-group">
                    <label class="font">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                 </div>
                 <button type="submit" class="btn btn-outline-primary btn-lg">Create Account</button>
                 <a href="{{url_for('login') }}"><button type="button" class="btn btn-outline-secondary btn-lg">Go to login</button></a>
              </form>
           </div>
        </div>
     </div>


    

    <!--Bootstrap Js-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>